.required  {
	font-weight: bold;
}

.col-form-label {
	text-align: right;
	padding-top: 0;
}

/* Change text alignment for medium/small screens */
@media (max-width: 992px) {
	.col-form-label {
		text-align: left;
	}
}

.form-check-label {
	padding-right: 20px;
}

.btn-primary {
	background-color: #5941a9;
	border-color: #5941a9;
}

.btn-primary:hover {
	background-color: #6d72c3;
	border-color: #6d72c3;
}