/*
Name: Kyle Johnson
Date Created: 1/7/2020
Most recent revision: 1/19/2020
*/

body {
	background-color: #cbf7ed;
	color: #5941a9;
}

.nav-pills .nav-link.active {
    background-color: #5941a9;
	color: e5d4ed;
}

.nav-pills .nav-link:not(.active) {
	color: #5941a9;
}

.jumbotron, footer {
	background-color: #5941a9;
	color: #e5d4ed;
}

.carousel-item {
	background-color: #5941a9;
	color: #e5d4ed;
}

.carousel-item {
	height: 200px;
	text-align: center;
	padding-top: 70px;
}

#homePageCarousel {
	margin-bottom: 5px;
}

.nav {
	margin-bottom: 5px;
}

.js-alert {
	color: black;
	font-weight: bold;
	text-align: center;
    padding:30px 10px 30px 36px;
	background-color: #f2c779;
}

.news {
	font-size: 25px;
}

.desc {
	font-size: 25px;
}